.navbar {
    background-color: #272348;
    height: 100px;
}

.navbar-brand {
    width: 400px;
}

.product-details {
    height: 700px;
    width: 100%;
    /* background-color: aqua; */
    display: grid;
    place-items: center;
}

.product-details-inner {
    width: 90%;
    height: inherit;
    /* background-color: violet; */
    display: flex;
    padding: 1% 0;
}

.product-img-video {
    width: 50%;
    height: 100%;
    /* background-color: yellowgreen; */
    padding: 0 1%;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 100%;
    height: 49%;
    padding: 1% 0;

}

.product-video {
    width: 100%;
    height: 49%;
    padding: 1% 0;
    /* background-color: red; */
}

.product-details-table {
    width: 50%;
    height: 100%;
    /* background-color: teal; */
    border-radius: 20px;
    padding: 2% 5%;
    overflow-y: auto;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item>img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

iframe {
    width: inherit;
    height: 100%;
    border-radius: 20px;
}

#property-data {
    font-weight: bold;
}
.price{
    /* background-color: aqua; */
    display: grid;
    place-items: center;
    width: 100%;
    margin:10% 0;
}        
.table-div{
    /* background-color: blueviolet; */
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 30px;
    border-radius: 20px;
}
.table-price-data{
    width: 100%;
    height: 100%;            
}
.price-row{            
    border-bottom: none;
}
footer{
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    background-color: #272348;
}
.contact-details{
    margin: auto;
    width: 70%;
    /* background-color: aquamarine; */    
}
.phonenumber{
    text-align: center;
}
.whatsapp{
    text-align: center;
}
.whatsapp>h1{
    padding-left: 70px;
}
.address-head{
    width: 70%;
}
.copyright{
    width: 73%;
}
@media (max-width:991px) {
    .navbar-brand {
        margin: auto;
        width: 300px;
    }

    .product-details {
        height: 1200px;
    }

    .product-img-video {
        width: 100%;
        height: 50%;
        flex-direction: column-reverse;
        padding: 0;
    }

    .product-details-table {
        width: 100%;
        border-radius: 20px;
    }

    .product-details-inner {
        flex-direction: column-reverse;
    }
    .table-div{
        width: 90%;
    }
    .price-heading{
        text-align: center;
    }   
    
    .copyright{
        width: 100%;
        text-align: center;
    }
}
@media (max-width:768px){
    .contact-details{
        flex-direction: column;    
        width: 100%;
        padding: 0 5%;
    }
    .phonenumber{
        text-align: left;
    }
    .whatsapp{
        text-align: left;
    }
    .whatsapp>h1{
        padding-left: 0;
    }
    .address-head{
        flex-direction: column;  
        width: 100%;
        padding: 0 5%;
    }
    ul{
        padding-left: 0;
    }
}